@font-face {
    font-family: 'Funnel Display';
    src: url('font/Funnel_Display/FunnelDisplay-ExtraBold.woff2') format('woff2'),
        url('font/Funnel_Display/FunnelDisplay-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Funnel Display';
    src: url('font/Funnel_Display/FunnelDisplay-SemiBold.woff2') format('woff2'),
        url('font/Funnel_Display/FunnelDisplay-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Funnel Display';
    src: url('font/Funnel_Display/FunnelDisplay-Light.woff2') format('woff2'),
        url('font/Funnel_Display/FunnelDisplay-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Funnel Display';
    src: url('font/Funnel_Display/FunnelDisplay-Medium.woff2') format('woff2'),
        url('font/Funnel_Display/FunnelDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Funnel Display';
    src: url('font/Funnel_Display/FunnelDisplay-Regular.woff2') format('woff2'),
        url('font/Funnel_Display/FunnelDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Funnel Display';
    src: url('font/Funnel_Display/FunnelDisplay-Bold.woff2') format('woff2'),
        url('font/Funnel_Display/FunnelDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
    --custom-font-size: 1.6rem;
    --custom-padding: 2rem;
    --custom-font-color: #FAF9F6;
    --custom-font-color-2: rgb(66, 75, 85);
}

label {
    font-size: calc(var(--custom-font-size) - 0.5rem);
}

body {
    margin: 0px;
    font-size: var(--custom-font-size);
    font-family: "Funnel Display";
    color: var(--custom-font-color-2);
}

input, label {
    display: block;
}

input {
    margin-bottom: var(--custom-padding);
}

form, div.submit-container {
    border-top: solid 1px;
    padding-top: var(--custom-padding);
    
}

.main-div{
    background-image: url("img/alessandro-sacchi-NUFnfYd09iI-unsplash.jpg");
    background-size: auto 100%;
    display: flex;
    min-height: 100vh;
}

.form-container{
    background-color: var(--custom-font-color);
    flex-grow: 2;
    padding: calc(var(--custom-padding)*2);
}

.side-bar{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--custom-font-color);
    /* padding: var(--custom-padding); */
    padding-top: calc(var(--custom-padding) * 5);
    text-align: center;
}

div.input-container {
    display: flex;
    gap: calc(var(--custom-padding)*2);
}

legend, div.description-container>p{
    font-weight: 600;
}

div.description-container > p{
    font-size: calc(var(--custom-font-size)*1.2);
}

.submit-btn {
    font-size: calc(var(--custom-font-size) - 0.5rem);
    font-weight: bold;
    padding: calc(var(--custom-padding)*0.3) calc(var(--custom-padding)*0.8);
    border-radius: 10px;
    border: none;
    background-color: rgb(252, 136, 13);
    box-shadow: 0 4px 2px -2px gray;
    color:#FAF9F6;
}

div.banner {
    font-size: calc(var(--custom-font-size)*3);
    background-color: rgb(0 0 0 / 0.5);
    width: 100%;
    padding: calc(var(--custom-padding)*1.5);
}

a {
    text-decoration: none;
    color: rgb(252, 136, 13)
}

.submit-btn:hover{
    background-color: rgba(252, 137, 13, 0.6);
}

div.img-credit {
    font-size: calc(var(--custom-font-size)*0.7);
    padding-bottom: calc(var(--custom-padding)*0.5);
}