@font-face {
    font-family: 'Funnel Display';
    src: url('font/Funnel_Display/FunnelDisplay-ExtraBold.woff2') format('woff2'),
        url('font/Funnel_Display/FunnelDisplay-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Funnel Display';
    src: url('font/Funnel_Display/FunnelDisplay-SemiBold.woff2') format('woff2'),
        url('font/Funnel_Display/FunnelDisplay-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Funnel Display';
    src: url('font/Funnel_Display/FunnelDisplay-Light.woff2') format('woff2'),
        url('font/Funnel_Display/FunnelDisplay-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Funnel Display';
    src: url('font/Funnel_Display/FunnelDisplay-Medium.woff2') format('woff2'),
        url('font/Funnel_Display/FunnelDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Funnel Display';
    src: url('font/Funnel_Display/FunnelDisplay-Regular.woff2') format('woff2'),
        url('font/Funnel_Display/FunnelDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Funnel Display';
    src: url('font/Funnel_Display/FunnelDisplay-Bold.woff2') format('woff2'),
        url('font/Funnel_Display/FunnelDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
    --custom-font-size: 1.6rem;
    --custom-padding: 2rem;
}

body {
    background-image: url("img/alessandro-sacchi-NUFnfYd09iI-unsplash.jpg");
    background-size: 100vw 100vh;
    margin: 0px;
    font-size: var(--custom-font-size);
    font-family: "Funnel Display";
}

.main-div{
    display: flex;
    height: 100vh;
}

.form-container{
    background-color: white;
    flex-grow: 1;
    padding: var(--custom-padding);
}

.side-bar{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
}

label {
    font-size: calc(var(--custom-font-size) - 0.5rem);
}

form, div.submit-container {
    border-top: solid 1px;
    padding-top: 20px;
}